/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import "utilities/variables";
@import "utilities/mixin";
@import "utilities/extend";  



body{
    padding-bottom: 10rem;
    position: relative;
    min-height: 100vh;
    font-family: 'Nunito', sans-serif;
    background-image: url(../imagenes/F7F5F2.png);
    background-repeat: repeat;
    overflow-x: hidden;
    color: #212121; 
  }


@import "partials/header";

@import "pages/acerca";

@import "pages/accesorios";

@import "pages/exclusivos";

@import "partials/footer";

